/* general rules */

html {
  background-color: whitesmoke;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

input, button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  outline: none;
  box-sizing: border-box;
}

button {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
}


/* inpute and add button */

#add-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

#task-input {
  width: 100%;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
}


/* view list mode toggle container*/

#view-toggle-container {
  display: flex;
  gap: 1rem;
}

/* Questo lo facciamo aggiungendo classi in HTML */
.toggle-btn {
  background-color: whitesmoke;
  width: 50%;
}


/* To-do list */
/* card-view */

.card-view {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

li {
  display: block;
  width: 100%;
}

.card-view li {
  background-color: orange;
  height: 3rem;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}


/* list-view */

.list-view {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  background-color: orange;
  list-style: disc;
}

.list-view li {
  height: 2rem;
  display: list-item;
}

/* buttons */
/* general button rules */

button:hover {
  cursor: pointer;
}

.toggle-btn:hover{
  background-color: royalblue;
    color: white;
}

.toggle-btn:active {
  background-color: mediumblue;
  color: whitesmoke;
}

#add-btn:hover {
  background-color: orange;
}

#add-btn:active {
  background-color: orangered;
}